Grupo 2/Fuentes/Cliente/node_modules
/Grupo 2/Fuentes/Cliente/node_modules
Grupo 2/Fuentes/Servidor/node_modules
/Grupo 2/Fuentes/Servidor/node_modules
Grupo 2/Fuentes/Servidor/dist
/Grupo 2/Fuentes/Servidor/dist