<app-header [titulo]="titulo"></app-header>

<ion-content [fullscreen]="true">
    
    <ion-list style="text-align:center">
        <ion-button fill="outline" color="transparent" (click)="redactarMensaje()">Redactar un mensaje</ion-button>   
    </ion-list>   
    
    <ion-card color="light">
        <ion-card-header>
         Mensajes enviados
        </ion-card-header>
       
        <ion-card *ngFor="let m of mensajes" (click)="alertaMensajeEnviado(m.correoReceptor, m.cuerpo)">
            <ion-item>
            <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
                <h2> {{m.correoReceptor}} </h2> <p> {{m.fechaEnvio | date: 'dd/MM/yyyy H:mm'}}</p>
                <h3> {{m.cuerpo}} </h3>
            </ion-label>
            </ion-item>
        </ion-card>
        
    </ion-card>

</ion-content>